# Ambientes virtuais e dependências do Poetry
.venv/
venv/
poetry.lock

# Arquivos de sistema
.DS_Store
Thumbs.db

# Airflow
logs/

# Secrets and configs
config/
secret/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo